#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background: linear-gradient(to right, #a105cc, #8a05a0);
}

.btn-primary {
  background-color: #a105cc;
  border-color: #8a05a0;
}

.btn-success {
  background-color: #a105cc;
  border-color: #8a05a0;
}

.btn-outline-secondary {
  color: #a105cc;
  border-color: #a105cc;
}

.btn-outline-secondary:hover {
  background-color: #a105cc;
  border-color: #a105cc;
}
